@model Frontend_12102025.Models.BookEdition
<link rel="stylesheet" type="text/css" href="~/Content/Customer Stylesheet/Buttons.css" />

@{
    int defaultQuantity = ViewBag.Quantity ?? 1;
    bool showBuyNow = ViewBag.ShowBuyNow ?? true;
    bool addToCart = ViewBag.addToCart ?? true;
    bool showViewDetails = ViewBag.ShowViewDetails ?? true;
    string cssClass = ViewBag.ButtonClass ?? "product-buttons";
}

<div class="@cssClass">
    @if (showViewDetails)
    {
        <a href="@Url.Action("ProductDetail", "Home", new { id = Model.BookEditionId })"
           class="btn btn-view-details">
            <i class="fa-solid"></i> Xem chi tiết
        </a>
    }
    @*Neu khong con hang thi khong hien thi*@
    @if (Model.Stock > 0)
    {
        if (addToCart)
        {
            using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post, new { @class = "inline-form" }))
            {
                @Html.Hidden("id", Model.BookEditionId)
                @Html.Hidden("quantity", defaultQuantity)

                <button type="submit" class="btn btn-add-to-cart">
                    <i class="fa-solid"></i> Thêm vào giỏ
                </button>
            }
        }

        if (showBuyNow)
        {
            if (Request.IsAuthenticated)
            {
                // Đã login - submit form bình thường
                using (Html.BeginForm("BuyNow", "Cart", FormMethod.Post, new { @class = "inline-form" }))
                {
                    @Html.Hidden("id", Model.BookEditionId)
                    @Html.Hidden("quantity", defaultQuantity)

                    <button type="submit" class="btn btn-buy-now">
                        <i class="fa-solid"></i> Mua ngay
                    </button>
                }
            }
            else
            {
                // redirect bằng js
                <button type="button" class="btn btn-buy-now"
                        onclick="window.location.href='@Url.Action("Login", "Account", new { area = "Customer", ReturnUrl = Url.Action("BuyNow", "Cart", new { id = Model.BookEditionId, quantity = defaultQuantity }) })'">
                    <i class="fa-solid"></i> Mua ngay
                </button>
            }
        }
    }
    else
    {
        <button class="btn btn-out-of-stock" disabled>
            <i class="fa-solid"></i> Hết hàng
        </button>
    }
</div>


