@model Frontend_12102025.Models.ViewModel.HomeProductVM
@using PagedList.Mvc
@*<link rel="stylesheet" type="text/css" href="~/Content/PagedList.css" />*@

@if (Model.NewProducts != null && Model.NewProducts.Any())
{
    <section class="listProd">
        <h2>Sản phẩm mới</h2>
        <div class="list-container">
            @foreach (var product in Model.NewProducts)
            {
                <div class="fproduct-item">
                    <div>
                        <a href="@Url.Action("ProductDetail", "Home", new { id = product.BookEditionId})">
                            <img src="@Html.DisplayFor(modelItem => product.CoverImage)" />
                        </a>
                    </div>
                    <div>
                        
                        <p class="prodName">
                            @Html.DisplayFor(modelItem => product.BookTitle.Title)
                        </p>
                        <p class="prodCate">
                            @Html.DisplayFor(modelItem => product.BookTitle.Category.CategoryName)
                        </p>
                        <p class="prodPrice">@String.Format("{0:N0}", product.Price) đ</p>
                    </div>
                </div>
            }
        </div>
    </section>

    <div class="pagination-container">
        @Html.PagedListPager(Model.NewProducts, page => Url.Action("Index", new { page, SearchTerm = Model.SearchTerm }))
    </div>
}
else
{
    <p style="text-align:center; padding:40px;">Không tìm thấy sản phẩm mới</p>
}

