@model Frontend_12102025.Models.ViewModel.HomeProductVM
@{
    ViewBag.Title = "Customer HomePage";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}


<section class="banner" style="max-width:2304px;margin: 0 auto;">
    <div class="container">
        <div class="banner-container content">
            <h2>Chào mừng bạn đến với Bookora</h2>
            <p>Mua sách tốt giá hời ngay nào!</p>
        </div>
    </div>
</section>

<div id="products">
    @Html.Partial("_PVFeatureProduct", Model)
</div>
<!-- Khoa học -->
@{
    ViewBag.CategoryName = "Khoa học";
}
@Html.Partial("_PVCategoryProducts", ViewBag.KhoaHocProducts as List<Frontend_12102025.Models.BookEdition>)

<!-- Tâm lý học -->
@{
    ViewBag.CategoryName = "Tâm lý học";
}
@Html.Partial("_PVCategoryProducts", ViewBag.TamLyHocProducts as List<Frontend_12102025.Models.BookEdition>)

<!-- Văn học -->
@{
    ViewBag.CategoryName = "Văn học";
}
@Html.Partial("_PVCategoryProducts", ViewBag.VanHocProducts as List<Frontend_12102025.Models.BookEdition>)

<!-- Kinh tế -->
@{
    ViewBag.CategoryName = "Kinh tế";
}
@Html.Partial("_PVCategoryProducts", ViewBag.KinhTeProducts as List<Frontend_12102025.Models.BookEdition>)

<!-- Self-Help -->
@{
    ViewBag.CategoryName = "Self-Help";
}
@Html.Partial("_PVCategoryProducts", ViewBag.SelfHelpProducts as List<Frontend_12102025.Models.BookEdition>)

@* Load JS *@
<script src="~/Scripts/Customer Script/Slider.js"></script>