@model Frontend_12102025.Models.ViewModels.DashboardVM

@{ 
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Admin Stylesheet/Dashboard.css"/>
</head>
    
<div class="dashboard-container">
    <h2>Dashboard</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="card bg-primary text-white p-3">
                <h4>Users</h4>
                <h2>@Model.TotalUsers</h2>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-success text-white p-3">
                <h4>Products</h4>
                <h2>@Model.TotalProducts</h2>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-warning text-white p-3">
                <h4>Orders</h4>
                <h2>@Model.TotalOrders</h2>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-danger text-white p-3">
                <h4>Revenue</h4>
                <h2>@Model.TotalRevenue.ToString("N0") đ</h2>
            </div>
        </div>
    </div>

    <hr />

    <h3>Đơn hàng mới nhất</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Mã đơn</th>
                <th>Khách hàng</th>
                <th>Tổng tiền</th>
                <th>Ngày tạo</th>
                <th style="text-align: center">Xem chi tiết</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var o in Model.LastOrders)
            {
                <tr>
                    <td class="order-id">@o.OrderId</td>
                    <td class="name">@o.User.FullName</td>
                    <td class="total">@o.TotalAmount đ</td>
                    <td class="order-date">@o.OrderDate.Value.ToString()</td>
                    <td class="btn-container">
                        @Html.ActionLink("Chi tiết", "Details", "Orders", new { id = o.OrderId}, new {@class = "order-detail-btn"})
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
