@model Frontend_12102025.Models.ViewModel.LoginVM

@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

@section styles {
    <style>
        .login-wrapper {
            min-height: 80vh;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding-top: 60px;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            padding-bottom: 60px;
        }

        .simple-login-container {
            border: 2px solid black;
            width: 100%;
            max-width: 450px; 
            padding: 20px;
        }


        .login-title {
            font-size: 30px;
            font-weight: 700;
            color: #333;
            text-transform: uppercase; 
            margin-bottom: 30px;
            letter-spacing: 1px;
        }


        .custom-label {
            display: block;
            font-weight: 700;
            font-size: 14px;
            color: #333;
            margin-bottom: 8px;
        }


        .custom-input {
            width: 100%;
            height: 45px;
            padding: 10px 15px;
            font-size: 16px;
            border: 1px solid #ddd;
            background-color: #fff;
            border-radius: 0; 
            box-shadow: none;
            color: #555;
            margin-bottom: 5px; 
        }

            .custom-input:focus {
                border-color: #aaa;
                outline: none;
                box-shadow: none;
            }

        .form-group {
            margin-bottom: 25px;
        }

        .custom-checkbox-wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 25px;
        }

            .custom-checkbox-wrapper input[type="checkbox"] {
                width: 16px;
                height: 16px;
                margin-right: 10px;
                cursor: pointer;
            }

            .custom-checkbox-wrapper label {
                font-size: 15px;
                color: #333;
                font-weight: 600;
                cursor: pointer;
                margin-bottom: 0;
            }

        .btn-orange {
            background-color: #f29c58; 
            color: white;
            font-weight: 700;
            font-size: 16px;
            padding: 12px 35px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
            transition: background 0.3s;
            text-transform: uppercase;
            display: inline-block;
        }

            .btn-orange:hover {
                background-color: #e08b4b;
                color: white;
            }

        .forgot-link, .register-link a {
            color: #4186a5; 
            text-decoration: none;
            font-size: 15px;
            margin-top: 15px;
            display: inline-block;
        }

            .forgot-link:hover, .register-link a:hover {
                text-decoration: underline;
            }

        .text-danger {
            font-size: 13px;
            margin-top: 5px;
            display: block;
        }
    </style>
}

<div class="login-wrapper">
    <div class="simple-login-container">
        <h1 class="login-title">Login</h1>

        @using (Html.BeginForm("Login", "Account",
            new { area = "Customer", ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post,
            new { @class = "needs-validation", novalidate = "novalidate" }))
        {
            @Html.AntiForgeryToken()

            @* Username Section *@
            <div class="form-group">
                <label class="custom-label" for="Username">Username or email address *</label>

                @Html.TextBoxFor(m => m.Username, new
                {
                    @class = "custom-input",
                    id = "Username"
                })
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            </div>

            @* Password Section *@
            <div class="form-group">
                <label class="custom-label" for="txtPassword">Password *</label>

                @Html.PasswordFor(m => m.Password, new
                {
                    @class = "custom-input",
                    id = "txtPassword"
                })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            @* Remember Me *@
            <div class="custom-checkbox-wrapper">
                @Html.CheckBoxFor(m => m.RememberMe)
                <label for="RememberMe">Remember me</label>
            </div>

            @* Submit Button *@
            <div class="form-group">
                <button type="submit" class="btn-orange">
                    Log in
                </button>
            </div>

            <div class="register-link">
                <div style="display:block; margin-bottom:5px;">Chưa có tài khoản?</div>

                @Html.ActionLink("Đăng ký ngay", "Register", "Account",
                    new { area = "Customer" },
                    new { @class = "" })
            </div>
        }
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('form').on('submit', function (e) {
                var username = $('#Username').val().trim();
                var password = $('#txtPassword').val();

                if (!username) {
                    alert('Vui lòng nhập tên đăng nhập');
                    $('#Username').focus();
                    e.preventDefault();
                    return false;
                }

                if (!password) {
                    alert('Vui lòng nhập mật khẩu');
                    $('#txtPassword').focus();
                    e.preventDefault();
                    return false;
                }
            });
        });
    </script>
}
