@model Frontend_12102025.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Admin Stylesheet/Category.css" />
</head>
<h2>Delete</h2>

<div class="delete-container">
    <dl class="dl-horizontal">
        <dt class="label">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd class="content">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt class="label">
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd class="content">
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="btn-container">
            <input type="submit" value="Delete" class="btn-delete"/> |
            @Html.ActionLink("Back to List", "Index", null, new {@class = "btn-back"})
        </div>
    }
</div>
