@model Frontend_12102025.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Admin Stylesheet/Category.css" />
</head>

<h2>Details</h2>

<div class="details-container">
    <dl class="dl-horizontal">
        <dt class="label">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd class="content">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt class="label">
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd class="content">
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
    <p class="btn-container">
        @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId }, new { @class = "btn-to-edit" }) |
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn-back" })
    </p>
</div>

