@model Frontend_12102025.Models.BookEdition
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    // Lay ra url cua anh do bookedition luu BookImages la collection
    var mainImage = Model.BookImages?.FirstOrDefault();
    var imageUrl = mainImage?.ImageUrl;
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Admin Stylesheet/ProductDetail.css" />
</head>

<div class="details-container">
    <h2>Chi Tiết Sách</h2>
    <hr />
    <div class="details-grid">
        <!-- Hình -->
        <div class="image-box">
            @if (!string.IsNullOrEmpty(Model.BookImages.ToString()))
            {
                <img src="@imageUrl" alt="@Model.BookTitle.Title" />
            }
            else
            {
                <span>📚</span>
            }
        </div>

        <!-- Thông tin -->
        <div class="info-box">
            <dl>
                <dt>@Html.DisplayNameFor(model => model.BookTitle.Title)</dt>
                <dd>@Html.DisplayFor(model => model.BookTitle.Title)</dd>

                <dt>@Html.DisplayNameFor(model => model.Price)</dt>
                <dd>@Html.DisplayFor(model => model.Price)</dd>

                <dt>@Html.DisplayNameFor(model => model.Stock)</dt>
                <dd>@Html.DisplayFor(model => model.Stock)</dd>

                <dt>@Html.DisplayNameFor(model => model.ISBN)</dt>
                <dd>@Html.DisplayFor(model => model.ISBN)</dd>

                <dt>@Html.DisplayNameFor(model => model.BookTitle.Description)</dt>
                <dd>@Html.DisplayFor(model => model.BookTitle.Description)</dd>

                <dt>@Html.DisplayNameFor(model => model.PublishDate)</dt>
                <dd>@Html.DisplayFor(model => model.PublishDate)</dd>

                <dt>@Html.DisplayNameFor(model => model.BookTitle.Author.AuthorName)</dt>
                <dd>@Html.DisplayFor(model => model.BookTitle.Author.AuthorName)</dd>

                <dt>@Html.DisplayNameFor(model => model.BookTitle.Category.CategoryName)</dt>
                <dd>@Html.DisplayFor(model => model.BookTitle.Category.CategoryName)</dd>

                <dt>@Html.DisplayNameFor(model => model.BookTitle.Publisher.PublisherName)</dt>
                <dd>@Html.DisplayFor(model => model.BookTitle.Publisher.PublisherName)</dd>
            </dl>
            
            <div class="actions">
                @Html.ActionLink("Edit", "Edit", new { id = Model.BookTitleId }, new { @class = "btn btn-edit" })
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-back" })
            </div>
        </div>
    </div>
</div>