@model Frontend_12102025.Models.ViewModels.BookEditionVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Admin Stylesheet/ProductEdit.css" />
</head>

<div class="edit-container">
    <h2>Edit Book</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BookEditionId)
        @Html.HiddenFor(model => model.BookTitleId)
<table class="form-table">
    <!-- Title - 1 dòng full -->
    <tr>
        <td class="label-cell">
            @Html.LabelFor(model => model.Title, "Title")
        </td>
        <td class="input-cell" colspan="3">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </td>
    </tr>

    <!-- Author và Publisher - 2 cột -->
    <tr>
        <td class="label-cell">
            @Html.LabelFor(model => model.AuthorName, "Author")
        </td>
        <td class="input-cell">
            @Html.EditorFor(model => model.AuthorName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AuthorName, "", new { @class = "text-danger" })
        </td>
        <td class="label-cell">
            @Html.LabelFor(model => model.PublisherName, "Publisher")
        </td>
        <td class="input-cell">
            @Html.EditorFor(model => model.PublisherName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PublisherName, "", new { @class = "text-danger" })
        </td>
    </tr>

    <!-- Category và Stock - 2 cột -->
    <tr>
        <td class="label-cell">
            @Html.LabelFor(model => model.CategoryId, "Category")
        </td>
        <td class="input-cell">
            @Html.DropDownListFor(model => model.CategoryId, Model.CategoryList, "Select Category", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
        </td>
        <td class="label-cell">
            @Html.LabelFor(model => model.Stock, "Stock")
        </td>
        <td class="input-cell">
            @Html.EditorFor(model => model.Stock, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Stock, "", new { @class = "text-danger" })
        </td>
    </tr>

    <!-- Price và Publish Date - 2 cột -->
    <tr>
        <td class="label-cell">
            @Html.LabelFor(model => model.Price, "Price")
        </td>
        <td class="input-cell">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </td>
        <td class="label-cell">
            @Html.LabelFor(model => model.PublishDate, "Publish Date")
        </td>
        <td class="input-cell">
            @Html.EditorFor(model => model.PublishDate, new { htmlAttributes = new { @class = "form-control"} })
            @Html.ValidationMessageFor(model => model.PublishDate, "", new { @class = "text-danger" })
        </td>
    </tr>

    <!-- ISBN - 1 dòng full -->
    <tr>
        <td class="label-cell">
            @Html.LabelFor(model => model.ISBN, "ISBN")
        </td>
        <td class="input-cell" colspan="3">
            @Html.EditorFor(model => model.ISBN, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ISBN, "", new { @class = "text-danger" })
        </td>
    </tr>

    <!-- Description - 1 dòng full -->
    <tr>
        <td class="label-cell">
            @Html.LabelFor(model => model.Description, "Description")
        </td>
        <td class="input-cell" colspan="3">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 4 })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </td>
    </tr>
    <tr>
        <td class="label-cell">
            @Html.LabelFor(model => model.CoverImage, "Cover Image URL")
        </td>
        <td class="input-cell" colspan="3">
            @Html.EditorFor(model => model.CoverImage, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CoverImage, "", new { @class = "text-danger" })
        </td>
    </tr>
</table>

        <div class="button-row">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}