@model IEnumerable<Frontend_12102025.Models.BookEdition>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Admin Stylesheet/Product.css"/>
</head>
<div class="content-wrapper">
    <h2>Homepage Product</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CoverImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTitle.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTitle.Author.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTitle.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTitle.Publisher.PublisherName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.CoverImage)" style="max-width: 150px; height: auto"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookTitle.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) đ
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookTitle.Author.AuthorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookTitle.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookTitle.Publisher.PublisherName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Books", new {area = "Admin", id = item.BookTitleId}, new {@class = "btn-edit"}) |
                    @Html.ActionLink("Details", "Details","Books" , new { area = "Admin", id = item.BookTitleId }, new { @class = "btn-details" }) |
                    @Html.ActionLink("Delete", "Delete", "Books", new { area = "Admin", id = item.BookTitleId }, new { @class = "btn-delete" })
                </td>
            </tr>
        }

    </table>

</div>
